<div>
  <p>Add new car</p><br>
  <form [formGroup]="carForm" (ngSubmit)="onFormSubmit(carForm.value)"><br>
        <input placeholder="Vehicle brand" formControlName="vehicleBrand"/><br>
        <input matInput placeholder="Car model" formControlName="model"/><br>
        <input matInput placeholder="Year" formControlName="year"/><br>
        <input matInput placeholder="Power" formControlName="power"/><br>
        <input matInput placeholder="Engin capacity" formControlName="enginCapacity"/><br>
      <div class="button-row">
        <button type="submit" [disabled]="!carForm.valid" mat-flat-button color="primary">save</button>
      </div>
  </form>
</div>
